<a href="https://colab.research.google.com/github/LakshmiDeviHarini/FML-LAB/blob/main/multivariate_on_50startups.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Multiple LinearRegression on 50_startups Dataset**

---

Importing the required libraries and modules

In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

importing the data and viewing the first 5 rows of the dataset to understand the what type of data present in it

In [44]:
data = pd.read_csv("/content/50_Startups.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [45]:
data.tail()

    R&D Spend  Administration  Marketing Spend       State    Profit
45    1000.23       124153.04          1903.93    New York  64926.08
46    1315.46       115816.21        297114.46     Florida  49490.75
47       0.00       135426.92             0.00  California  42559.73
48     542.05        51743.15             0.00    New York  35673.41
49       0.00       116983.80         45173.06  California  14681.40

Now remove the label data from the input data

In [46]:
x = data.drop('Profit', axis=1).values
y = data['Profit'].values
X=data.select_dtypes(include=np.number)

In [47]:
X.shape , y.shape

((50, 4), (50,))

here,X contains the unlabelled data and y contains the labelled data.Now splitting the data into training and testing datasets,in that training set contains 80% of the data and testing dataset contains 20% of the data

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

finding the shapes of training data and testing data

In [49]:
X_train.shape, X_test.shape

((40, 4), (10, 4))

In [50]:
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

Now,pass the X_train into the model and find errors from the predicted values

In [51]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error
y_pred1 = reg.predict(X_train)
print(f'Performance of the model on training data :\n')
print(f'MAE = {mean_absolute_error(y_train, y_pred1)}')
print(f'MSE = {mean_squared_error(y_train, y_pred1)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_train, y_pred1))}')
print(f'R_2 = {r2_score(y_train, y_pred1)}')

Performance of the model on training data :

MAE = 1.3960743672214448e-11
MSE = 3.8985022269624195e-22
RMSE = 1.974462515967933e-11
R_2 = 1.0

Now , pass the X_test into the model and find the errors from the predicted values

In [52]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error
y_pred2 = reg.predict(X_test)
print(f'Performance of the model on test data :\n')
print(f'MAE = {mean_absolute_error(y_test, y_pred2)}')
print(f'MSE = {mean_squared_error(y_test, y_pred2)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_test, y_pred2))}')
print(f'R_2 = {r2_score(y_test, y_pred2)}')

Performance of the model on test data :

MAE = 1.3824319466948509e-11
MSE = 2.594038400966295e-22
RMSE = 1.6106018753764987e-11
R_2 = 1.0

**conclusion :** 

---

By observing the performance of model on test data ,we can conclude that our trained model fits best for the linear regression